.main {
  @include mixin-flex(center);

  width: 100%;
  height: 100vh;
  background-color: #ededed;

  .container {
    @include mixin-flex(space-around);
    position: relative;

    width: 1280px;
    height: 720px;

    background-color: var(--background-color);
    border-radius: 10px;

    &__left {
      @include mixin-flex(center);
      flex-direction: column;

      width: 50%;

      gap: 20px;
      row-gap: 20px;

      transition: all 0.18s ease-in-out;
    }
    &__right {
      @include mixin-flex(center);
      flex-wrap: wrap;

      width: 70%;

      gap: 20px;
      row-gap: 20px;
    }
  }
}
