.photos {
  @include mixin-flex(center);

  width: 100%;

  background-color: #f0f0f0;

  .container {
    display: flex;
    background-color: white;

    &__header {
      height: 100vh;
      flex: 1;
      border: 1px solid #000;
    }
    &__main {
      display: flex;
      flex-direction: column;
      flex: 6;
      border: 1px solid #000;
      &__upper {
        flex: 6;
        border: 1px solid #000;
      }
      &__below {
        flex: 4;
        border: 1px solid #000;
      }
    }
    &__footer {
      flex: 3;
      border: 1px solid #000;
    }
  }
}
