.toast {
  @include flex(center);

  position: absolute;

  left: 50%;
  transform: translate(-50%, 0);

  width: 400px;
  height: 60px;

  z-index: 100;

  -webkit-user-drag: none;
  user-select: none;

  .container {
    @include flex(center);

    width: 80%;
    height: 100%;

    border-radius: 5px;

    &__main {
      @include flex(start);

      width: 90%;
      height: 100%;

      border-radius: 5px;

      &__status {
        display: inline-block;
        padding: 14px;
      }
      &__message {
        h2 {
          font-size: 18px;
          font-weight: 500;
        }
        h4 {
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
  }
}
