.up {
  position: fixed;
  right: 50px;
  bottom: 60px;

  font-size: 50px;

  transition: all 0.3s linear;

  cursor: pointer;

  &.active {
    opacity: 1;
    transform: translateY(0);
  }

  &.inactive {
    opacity: 0;
    transform: translateY(100px);
  }
}
