.detail {
  @include mixin-flex(center);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  z-index: 1;

  background-color: rgba(black, 0.5);

  .container {
    position: relative;

    width: 31%;
    height: 700px;

    background-color: white;

    border-radius: 4px;

    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.4);

    &__header {
      @include mixin-flex(space-between);

      width: 100%;
      height: 40px;

      padding: 30px 10px 30px;

      border-bottom: 1px solid #e6e6e6;

      -webkit-user-drag: none;
      user-select: none;

      &__close {
        display: block;

        font-size: 20px;

        margin-right: 10px;

        color: #9c9c9c;

        cursor: pointer;
      }

      &__profileBox {
        display: flex;
        align-items: center;
        gap: 10px;

        .profileImg {
          border-radius: 50%;
        }
      }

      &__menu {
        color: black;
        display: flex;
      }
    }

    &__main {
      width: 100%;
      height: 660px;

      &__img {
        width: 100%;
        height: 380px;

        border-bottom: 1px solid #e6e6e6;

        object-fit: cover;
      }

      &__desc {
        display: flex;
        justify-content: center;

        flex-direction: column;

        width: 100%;
        height: 240px;

        margin: 10px;

        h2 {
          margin-bottom: 20px;
        }
        h3 {
          margin-bottom: 20px;
        }
      }
    }
  }
}
