.card {
  .container {
    display: flex;

    width: 100%;

    padding: 10px 5px 0;

    gap: 10px;

    cursor: pointer;

    transition: all 0.2s ease-in-out;

    &__cardImg {
      object-fit: cover;
      width: 100px;
      height: 100px;
    }

    &__cardDesc {
      width: 120px;
      text-align: center;

      padding: 2px;
    }
  }
}
